<div class="center jumbotron">
  <h1>Braindump!</h1>
  <h2>Liberate your mind by getting all that stuff out of your head.</h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("prayer.png", alt: "woman in prayer") %>
